body{
    background-color: aqua;
   text-align: center; 
   position:center;
   width:480px;
   border:none;
   border-radius: 5%;
   margin-left: 30%;
   overflow: scroll;


}
ul{
    list-style: none;
    text-align:left;
}
ul.strong{
    text-emphasis: right;
}

.form{
    color: blueviolet;
    

    

}
.box{
    color:black;
    border:2px solid pink;
    background: whitesmoke;
    border-radius: 9%;

}
.submit{
    margin-top: 19px;
    color: blue;
    border-radius: 19%;
}
p{
    font-weight: 300px;
    color: black;
}
h1,h2,h3,h4{
    font-weight: 700;
}
footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(2, 87, 102);
    color: white;
    text-align: center; 
}